/** @format */

.bx-pager-item {
	display: inline-block;
	position: relative;
	width: 14px;
	height: 14px;
}
.bx-pager-item:not(:last-of-type) {
	margin-right: 8px;
}
.bx-wrapper .bx-pager-item {
	font-size: 0;
	line-height: 0;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background-image: initial;
	background-color: rgba(79, 85, 88);
	outline-color: initial;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: #ababab;
	text-indent: -9999px;
	display: block;
	width: 14px;
	height: 14px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
	background-image: initial;
	background-color: #41706e;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
	background: #41706e;
}
.text img {
	display: inline-block;
	margin-top: 5px;
}
.bottom_section .product {
	position: relative;
}
.bottom_section .product .tested {
	position: absolute;
	left: 30px;
	top: 0;
}
.formula .wrapper .top_part .title {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
}
.formula .wrapper .top_part {
	padding-right: 70px;
}
.formula .new-img {
	display: block;
	margin: 0 auto;
	width: 550px;
	margin-bottom: 20px;
}
.formula .wrapper .top_part .text:last-of-type {
	margin-top: 15px;
}
.block1-top-right {
	float: right;
	width: calc(100% - 160px);
	margin-top: 10px;
}
.block1-top-list {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	list-style: none;
}

.block1-top-item {
	padding-right: 0;
	flex-basis: 30%;
	font-size: 14px;
	line-height: normal;
	padding-left: 45px;
	padding-right: 10px;
	font-weight: 700;
	background-repeat: no-repeat;
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;
}
.block1-top-item_first {
	padding-left: 55px;
}
.block1-top-item_first:before {
	width: 30px;
	height: 30px;
	background: url(../img/natural.svg) no-repeat;
	position: absolute;
	content: '';
	left: 18px;
	top: 2px;
}
.block1-top-item_second:before {
	width: 30px;
	height: 30px;
	background: url(../img/recom.svg) no-repeat;
	position: absolute;
	content: '';
	left: 8px;
	top: 3px;
}
.block1-top-item_third:before {
	width: 22px;
	height: 22px;
	background: url(../img/checked.png) no-repeat;
	background-size: cover;
	position: absolute;
	content: '';
	left: 8px;
	top: 5px;
}
.list li {
	padding-left: 30px;
}
.list li:before {
	background: url(../img/list_check.png) center center no-repeat;
	width: 23px;
	height: 23px;
	top: 0;
}
.block2__attention {
	margin-top: 55px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.block2__attention .title {
	font-size: 38px;
	font-weight: 700;
	line-height: 38px;
}
.block2__attention .text__bold {
	color: #000 !important;
	font-weight: 700 !important;
}
.symptoms .attention__subtitle {
	margin-top: 15px;
	font-weight: 400;
	color: #444;
	font-size: 18px;
	line-height: 24px;
	font-style: normal;
}
.block2__attribute {
	width: 100%;
	margin-top: 27px;
	margin-bottom: 89px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.symptoms .attribute__left {
	width: 740px;
	margin-right: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.symptoms .attribute__title {
	text-align: center;
	font-size: 20px;
	line-height: 28px;
	font-weight: 500;
	margin-bottom: 35px;
}
.symptoms .attribute__text {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}
.symptoms .attribute__left__img {
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 401px;
	height: 429px;
}
.symptoms .attribute__left__img::before {
	position: absolute;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	content: '';
	width: 429px;
	height: 429px;
	border-radius: 50%;
	border: 29px solid #e1f0fa;
	top: 7px;
	left: 0;
	z-index: 1;
}
.symptoms .content__text {
	position: relative;
	color: #444;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	z-index: 2;
	text-align: left;
}
.symptoms .content__text1 {
	margin-top: 5px;
}
.symptoms .content__text2 {
	margin-top: 42px;
	padding-left: 88px;
}
.symptoms .content__text3 {
	margin-top: 62px;
	padding-left: 116px;
}
.symptoms .content__text4 {
	margin-top: 60px;
	padding-left: 87px;
}
.symptoms .content__text5 {
	margin-top: 32px;
}
.symptoms .content__text::before {
	position: absolute;
	content: '';
	width: 76px;
	height: 76px;
	background-repeat: no-repeat;
	background-size: contain;
}
.symptoms .content__text1::before {
	background-image: url(../img/block2__emblem1.png);
	left: -105px;
	top: -5px;
}
.symptoms .content__text2::before {
	background-image: url(../img/block2__emblem2.png);
	left: -16px;
	top: -15px;
}
.symptoms .content__text3::before {
	background-image: url(../img/block2__emblem3.png);
	left: 15px;
	top: -13px;
}
.symptoms .content__text4::before {
	background-image: url(../img/block2__emblem4.png);
	left: -15px;
	top: -19px;
}
.symptoms .content__text5::before {
	background-image: url(../img/block2__emblem5.png);
	left: -105px;
	top: -20px;
}
.symptoms .attribute__right {
	width: 400px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.border__bg {
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #e1e1e1;
	color: #444;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	border-radius: 5px;
}
.symptoms .attribute__right__list {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
	padding-right: 10px;
	padding-bottom: 10px;
}
.border__bg::before {
	position: absolute;
	content: '';
	width: 50px;
	height: 50px;
	background-image: url(../img/sign.png);
	top: -30px;
	left: 50%;
	-webkit-transform: translatex(-51%);
	transform: translatex(-51%);
	z-index: 2;
}
.symptoms .list__item {
	margin-top: 32px;
	padding-left: 63px;
	position: relative;
	text-align: left;
}
.symptoms .list__item::before {
	position: absolute;
	content: '';
	width: 18px;
	height: 14px;
	background-image: url(../img/list-image2.svg);
	left: 29px;
	top: 7px;
}
.results .result_table .item:nth-child(1) .item_item:nth-child(1) .item_diagramme:before,
.results .result_table .item:nth-child(1) .item_item:nth-child(2) .item_diagramme:before,
.results .result_table .item:nth-child(1) .item_item:nth-child(3) .item_diagramme:before {
	width: 40%;
}
.results .result_table .item:nth-child(1) .item_item:nth-child(4) .item_diagramme:before {
	width: 70%;
}
.results .result_table .item:nth-child(2) .item_item:nth-child(4) .item_diagramme:before {
	width: 0%;
}
.free-delivery-title {
	font-size: 13px;
	color: #fff;
}
.greeting .product .labels div {
	text-align: left;
	justify-content: flex-start;
	padding-left: 50px;
	padding-right: 10px;
}
.greeting .product .labels img {
	margin-top: 15px;
	display: block;
	width: 100%;
}
.bx-pager.bx-default-pager {
	text-align: center;
}
.final {
	background: url(../img/bg_greeting.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
}
.submit_form,
.button_submit {
	animation: glowing 1500ms infinite both;
	box-shadow: 0 0 2px #9c2440;
}
@keyframes glowing {
	0% {
		background: #af2c4b;
		box-shadow: 0 0 0px #9c2440;
	}
	50% {
		background: #cc395b;
		box-shadow: 0 0 12px #9c2440;
	}
	100% {
		background: #af2c4b;
		box-shadow: 0 0 0px #9c2440;
	}
}

@media (max-width: 991px) {
	.greeting .product {
		padding-right: 0;
	}
	.greeting .product .labels {
		width: 100%;
	}
	.greeting .product .labels div {
		padding-left: 35px;
		margin: 15px auto;
		width: 100%;
		left: 0;
		justify-content: center;
	}
	.greeting .product {
		left: 310px;
	}
	.block2__attribute {
		display: block;
	}
	.formula .image .hide_on_mobile {
		display: none;
	}
	.symptoms .attribute__left {
		margin-bottom: 40px;
	}
	.symptoms .attribute__right {
		width: 100%;
	}
	.symptoms .attribute__right__list {
		padding-bottom: 30px;
	}
	.symptoms .list__item:not(:first-of-type) {
		margin-top: 16px;
	}
	.block2__attribute {
		margin-bottom: 0;
	}
	.ingredients .slider_container .slider_ingred .item.item_fifth {
		margin: -135px auto 0;
		margin-right: 265px;
	}
}

@media (max-width: 767px) {
	.final__site_title {
		margin: 0;
		margin-left: 80px;
	}
	.final__list__item {
		margin: 0 70px;
	}
	.delivery .right_part {
		padding: 0 70px;
	}
	.symptoms .attribute__left {
		width: 100%;
	}
	.symptoms .attribute__left__img {
		display: none;
	}
	.symptoms .attribute__text {
		display: block;
	}
	.symptoms .attribute__left {
		width: 100%;
	}
	.symptoms .content__text::before {
		display: block;
		margin: 0 auto;
		width: 162px;
		height: 162px;
		position: static;
		background-size: 100%;
		margin-bottom: 15px;
	}
	.symptoms .content__text1,
	.symptoms .content__text2,
	.symptoms .content__text3,
	.symptoms .content__text4,
	.symptoms .content__text5 {
		margin: 0;
		padding: 0;
	}
	.symptoms .content__text {
		text-align: center;
		margin-bottom: 30px;
	}
	.symptoms .content__text:last-of-type {
		margin-bottom: 0;
	}
	.greeting .top_line__logo {
		display: block;
		margin: 0 auto;
	}
	.block1-top-right {
		float: none;
		width: 100%;
		margin-bottom: 40px;
	}
	.block1-top-item_first:before,
	.block1-top-item_second:before,
	.block1-top-item_third:before {
		position: static;
		display: block;
		margin: 0 auto;
		margin-bottom: 8px;
		height: 30px;
		width: auto;
		background-position: center center;
		background-size: contain;
	}
	.block1-top-item {
		padding: 0 10px;
		font-size: 12px;
		text-align: center;
	}
	.final__image {
		right: calc(50% - 180px);
		top: 350px;
	}
	.final__product {
		position: relative;
		height: 300px;
		margin-left: auto;
		margin-right: 300px;
	}
	.final__product > img {
		position: absolute;
		left: calc(50% - 95px);
		top: -60px;
	}
	.final__ser_list {
		right: -35px;
		top: -35px;
	}
	.final__ser_item:nth-of-type(1) {
		position: absolute;
		left: -135px;
		top: 250px;
		transform: scale(1.4);
	}
	.final__ser_item:nth-of-type(2) {
		position: absolute;
		left: -55px;
		top: 250px;
		transform: scale(1.4);
	}
	.final__ser_item:nth-of-type(3) {
		margin-bottom: 5px;
		transform: scale(1.4);
	}
	.final__ser_item:nth-of-type(4) {
		transform: scale(1.4);
	}
	.final__list {
		margin-bottom: 100px;
	}
	.greeting .product {
		left: 0;
	}
	.symptoms .slider_container {
		width: 100%;
	}
	.slider_symptoms {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.symptoms .slider_container .item {
		flex-basis: 50%;
		padding: 0 10px;
	}
	.symptoms .slider_container .item img {
		width: 100%;
	}
	.eliminate .wrapper .product img {
		width: 210px;
		max-width: 100% !important;
	}
	.bottom_section .product img {
		max-width: 100% !important;
		width: 170px;
	}
	.bottom_section .product .tested {
		width: 90px;
		height: 90px;
		left: 0px;
		top: 0;
	}
	.formula .wrapper .top_part {
		padding-right: 20px;
	}
	.formula .wrapper .top_part .image {
		bottom: -355px;
		margin: 0 auto -255px;
	}
	.formula .wrapper .top_part .text:last-of-type {
		margin-top: 15px;
		margin-bottom: 22px;
	}
	.block2__attribute .left__content {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	.symptoms .content__text {
		flex-basis: 50%;
		padding: 0 10px;
	}
	.symptoms .content__text::before {
		width: 120px;
		height: 120px;
	}
	.ingredients .slider_container .slider_ingred .item.item_fifth {
		margin: 0;
	}
}

@media (max-width: 510px) {
	.formula .wrapper .top_part .image {
		position: absolute;
		bottom: 215px;
		right: 50%;
		transform: translateX(50%);
	}
}

@media (max-width: 480px) {
	.symptoms .slider_container .item {
		flex-basis: 265px;
	}
}

@media (max-width: 450px) {
	.final__product {
		width: 220px;
		height: 265px;
		margin-right: 190px;
	}
	.final__ser_item:nth-of-type(1),
	.final__ser_item:nth-of-type(2) {
		top: 215px;
	}
}

@media (max-width: 430px) {
	.greeting .product {
		background-size: 55%;
		background-position: top right 45px;
	}
	.product > img {
		transform: scale(0.8);
	}
	.greeting .product .labels div {
		left: 0;
		margin: 10px auto;
	}
	.eliminate .wrapper .product img,
	.bottom_section .product img {
		transform: none;
	}
}

@media (max-width: 420px) {
	.greeting .product .labels div {
		left: -5%;
	}
	.final__site_title {
		margin-left: 40px;
	}
	.final__list__item {
		margin: 0 30px;
	}
	.delivery .right_part {
		padding: 0 40px;
	}
	.final__image {
		display: none;
	}
	.final__product {
		margin: 0 auto;
		width: 100%;
		height: 250px;
	}
	.final__product > img {
		height: auto;
		width: 200px;
		left: calc(50% - 140px);
	}
	.final__ser_list {
		right: auto;
		left: calc(50% + 45px);
	}
	.final__ser_item:nth-of-type(1),
	.final__ser_item:nth-of-type(2),
	.final__ser_item:nth-of-type(3),
	.final__ser_item:nth-of-type(4) {
		transform: none;
		position: static;
		margin-bottom: -15px;
	}
	.symptoms .content__text {
		flex-basis: 100%;
	}
	.symptoms .content__text::before {
		width: 140px;
		height: 140px;
	}
}

@media (max-width: 360px) {
	.greeting .product .labels div {
		left: -10%;
	}
	.final__site_title {
		margin-left: 15px;
	}
	.final__list__item {
		margin: 0 5px;
	}
	.delivery .right_part {
		padding: 0 15px;
	}
}
