.new-form {
  width: 100%;
}

.new-form__button-open {
  width: 50%;
  margin: 30px auto 30px auto;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 10px;
  background-color: #3897eb;
  color: #fff;
  text-align: center;
}

@media (max-width: 600px) {
  .new-form__button-open {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .new-form__button-open {
    width: 100%;
  }
}

.new-form__wrapper {
  padding: 20px 20px 170px 20px;
}

@media (max-width: 550px) {
  .new-form__wrapper {
    padding: 20px 20px 120px 20px;
  }
}

@media (max-width: 400px) {
  .new-form__wrapper {
    padding: 20px 20px 90px 20px;
  }
}

.new-form__border-wrapper {
  margin-top: 20px;
  width: 100%;
  border: 1px solid #000;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.new-form__bg-images {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.new-form__bg-image-center {
  position: absolute;
  top: 8%;
  left: 0;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 350px) {
  .new-form__bg-image-center {
    top: 10%;
  }
}

.new-form__bg-image-center img {
  width: 100%;
}

.new-form__bg-image-bottom {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.new-form__bg-image-bottom img {
  width: 100%;
}

.new-form__body {
  position: relative;
  z-index: 2;
}

.new-form__loading {
  display: block;
  width: 50px;
  margin: 25px auto 0 auto;
}

.new-form__loading img {
  width: 100%;
}

.new-form__info-loading {
  margin-top: 20px;
}

.new-form__info-loading span {
  margin: 0 auto;
  display: block;
  width: 60%;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #949494;
}

.new-form-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new-form-body__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 350px) {
  .new-form-body__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.new-form-body__logo {
  max-width: 200px;
}

.new-form-body__logo img {
  width: 100%;
}

.new-form-body__info-date {
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  margin-left: 15px;
}

@media (max-width: 350px) {
  .new-form-body__info-date {
    margin-top: 15px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.new-form-body__info-date span {
  display: block;
}

.new-form-body__middle {
  margin-top: 80px;
  text-align: center;
}

.new-form-body__subtitle {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.new-form-body__title {
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}

@media (max-width: 350px) {
  .new-form-body__title {
    font-size: 16px;
  }
}

.new-form-body__images-achiv {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 320px) {
  .new-form-body__images-achiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.new-form-body__images-achiv img {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  padding: 10px 10px;
  max-width: 150px;
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 530px) {
  .new-form-body__images-achiv img {
    max-width: 33%;
  }
}

@media (max-width: 400px) {
  .new-form-body__images-achiv img {
    padding: 5px 5px;
  }
}

@media (max-width: 320px) {
  .new-form-body__images-achiv img {
    max-width: 60%;
  }
}

.new-form-body__price {
  margin-top: 25px;
  font-weight: 700;
  font-size: 18px;
}

.new-form-body__info-price {
  width: 80%;
  font-weight: 500;
  margin: 25px auto 0 auto;
}

.new-form-body__sub-timer {
  margin-top: 25px;
  font-weight: 700;
  font-weight: 18px;
}

.new-form-body__timer {
  margin-top: 15px;
  font-weight: 700;
}

.new-form-body__form {
  width: 90%;
}

.new-form-body__form form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new-form-body__bottom {
  margin-top: 25px;
}

.new-form-body__bottom-info {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.new-form-body__bottom-icons {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-form-body__bottom-icons img {
  height: 50px;
}

.new-form-body__bottom-icons img:first-child {
  margin-right: 10px;
}

.new-form-body__bottom-icons img:last-child {
  margin-right: 10px;
}

.new-form-body__input {
  width: 100%;
  display: block;
  margin-top: 15px;
  padding: 10px 10px;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
}

.new-form-body__button {
  display: block;
  width: 100%;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 10px;
  background-color: #3897eb;
  color: #fff;
  border: none;
}

.show-form {
  display: none;
}

.show-about-form {
  display: none;
  min-height: 400px;
}

.close-loading-text {
  -webkit-animation: close-loading-text 0.5s linear;
          animation: close-loading-text 0.5s linear;
  opacity: 0;
}

.show-close-loading-text {
  opacity: 1;
  -webkit-animation: show-loading-text 0.5s linear;
          animation: show-loading-text 0.5s linear;
}

.open-loading-info {
  -webkit-animation: open-loading 0.5s linear;
          animation: open-loading 0.5s linear;
  display: block;
}

.display-none-button {
  -webkit-animation: close-loading-button 1s linear;
          animation: close-loading-button 1s linear;
  display: none;
}

.close-loading-info {
  -webkit-animation: close-loading-button 1s linear;
          animation: close-loading-button 1s linear;
  display: none;
}

.show-form-show {
  -webkit-animation: open-loading 0.5s linear;
          animation: open-loading 0.5s linear;
  display: block;
}

@-webkit-keyframes close-loading-text {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes close-loading-text {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes close-loading-button {
  0% {
    opacity: 1;
    display: block;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

@keyframes close-loading-button {
  0% {
    opacity: 1;
    display: block;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

@-webkit-keyframes show-loading-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-loading-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes open-loading {
  0% {
    opacity: 0;
    height: 0;
  }
  50% {
    height: 100%;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes open-loading {
  0% {
    opacity: 0;
    height: 0;
  }
  50% {
    height: 100%;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.display-none {
  display: none !important;
}
/*# sourceMappingURL=formNew.css.map */