.bg {
  background: url(../img/bg_results.jpg) 0 0/cover no-repeat;
}

.block-doc {
  padding: 30px 0px;
}

.recomend__title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.recomend__content {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 900px) {
  .recomend__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.recomend__doctor {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.recomend__doctor--img {
  display: block;
  max-width: 290px;
  width: 100%;
  margin: 0 15px 0 0;
}

@media (max-width: 900px) {
  .recomend__doctor--img {
    margin: 15px auto 0 auto;
  }
}

.recomend__info .text {
  font-size: 18px;
  line-height: 23px;
  color: #444;
  font-weight: 500;
  padding-bottom: 15px;
}

.bg-text {
  margin-top: 15px;
  background-color: #ed6e6f;
  padding: 15px;
  margin-bottom: 25px;
  color: #fff;
  font-weight: 700;
  border-radius: 3px;
  text-align: center;
}

.sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 25px;
  position: relative;
}

.sign__doctor--name {
  font-size: 22px;
  font-weight: 700;
  color: #444;
}

.sign__doctor--post {
  color: #666;
  font-size: 16px;
}

.sign:before {
  top: 0;
  left: 0;
  width: 60px;
  background-color: #c6c6c6;
}

.sign:before {
  top: 0;
  left: 0;
  width: 60px;
  background-color: #c6c6c6;
}

.sign:before {
  content: "";
  position: absolute;
  height: 2px;
}

.top_part img {
  -o-object-fit: cover;
     object-fit: cover;
}

.final__list__text {
  margin-top: 15px;
}

@media (max-width: 787px) {
  .final__list__text {
    margin-left: 80px;
  }
}

@media (max-width: 420px) {
  .final__list__text {
    margin-left: 40px;
  }
}

@media (max-width: 360px) {
  .final__list__text {
    margin-left: 15px;
  }
}

.final__list__item:nth-child(5):before {
  background-position: -50px -533px;
  width: 48px;
}

.final__list__item:nth-child(6):before {
  background-position: -50px -533px;
  width: 48px;
}

.final__list__item:nth-child(5):before,
.final__list__item:nth-child(6):before {
  background-image: url(../img/sprite.png);
  height: 47px;
}

.text-info {
  margin-top: 25px;
  padding-bottom: 25px;
}

.text-info h3 {
  text-align: center;
  font-size: 22px;
}

.text-info__p {
  margin-top: 15px;
}

.text-info__flex-wrapper {
  margin-top: 15px;
  background: #000;
  padding: 5px;
}

.text-info__flex-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-info__flex-item {
  border: 3px solid #fff;
  background: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  margin-top: 15px;
  height: 150px;
}

@media (max-width: 500px) {
  .text-info__flex-item {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 400px) {
  .text-info__flex-item {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    height: 200px;
  }
}

.text-info__flex-item:nth-child(1) {
  margin-top: 0;
}

.text-info__img {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: auto;
  overflow: hidden;
}

.text-info__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-info__text {
  margin-left: 15px;
  font-weight: 700;
}

.formula {
  padding-bottom: 30px;
}
/*# sourceMappingURL=new-css.css.map */