.header,
.footer {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.header a,
.footer a {
  display: block;
  width: 100%;
}

.header img,
.footer img {
  width: 100%;
}

h2 {
  font-size: 26px;
  line-height: 1.305;
}

.pais {
  margin-top: 15px;
}

.pais a {
  background-color: #0099cc;
  font-size: 15px;
  font-weight: 700;
  padding: 5px 8px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.autor {
  margin-top: 15px;
}

.autor__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.autor__logo {
  width: 35px;
  height: 35px;
}

.autor__logo img {
  width: 100%;
  border-radius: 50%;
}

.autor__info {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.autor__text {
  color: #737373;
  font-size: 15px;
  font-weight: 700;
}

.main_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../images/form_bg.jpg) center top no-repeat;
  background-size: 100% 100%;
  padding: 30px 0;
  text-align: center;
  max-width: 650px;
  margin: 20px auto 0;
  font-size: 18px;
}

.main_form h2 {
  font-size: 32px;
  line-height: 1.35;
  color: black;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sertif {
  color: blue;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
  font-weight: 500;
}

.main_form .price {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  padding: 0 7px;
  font-weight: 500;
  color: #000;
  font-size: 22px;
  line-height: 1.3;
}

.blue-border {
  margin: 0px 20px 15px 20px;
  border: 2px solid #0299ff;
  padding: 10px !important;
  text-align: center !important;
  max-width: 700px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.35;
}

.main_form label {
  margin-top: 10px;
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.main_form input {
  font-size: 20px;
  padding: 15px;
  border-radius: 3px;
  border: 2px solid #e9d7dc;
  max-width: 300px;
  width: 100%;
}

.main_form button {
  -webkit-animation: glowingBlue 2000ms infinite both;
          animation: glowingBlue 2000ms infinite both;
}

.form-button {
  padding: 20px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  border-radius: 5px;
  background-color: #00c24a;
  background-position: 1.35em 0.94em;
  background-size: 1em;
  background-repeat: no-repeat;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 260px;
  margin-bottom: 20px;
}

.timelimit,
.additional {
  font-size: 12px;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 5px;
}

.timelimit b {
  display: inline-block;
  background: url(../images/timerIcon2.png) no-repeat;
  margin-top: -2px;
  padding-left: 14px;
  color: red;
  vertical-align: middle;
  background-position-y: 0px;
  font-size: 12px;
}

.price_red {
  font-weight: bold;
  color: red;
}

.main_form button {
  -webkit-animation: glowingBlue 2000ms infinite both;
          animation: glowingBlue 2000ms infinite both;
}

.main_form button {
  padding: 20px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 15px 0 #8196a073;
          box-shadow: 0 4px 15px 0 #8196a073;
  border-radius: 5px;
  background-color: #0299ff;
  background-position: 1.35em 0.94em;
  background-size: 1em;
  background-repeat: no-repeat;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 260px;
  margin-bottom: 20px;
}

@-webkit-keyframes glowingBlue {
  0% {
    -webkit-box-shadow: 0 0 2px #0081d8;
            box-shadow: 0 0 2px #0081d8;
  }
  50% {
    -webkit-box-shadow: 0 0 12px #0081d8;
            box-shadow: 0 0 12px #0081d8;
  }
  100% {
    -webkit-box-shadow: 0 0 2px #0081d8;
            box-shadow: 0 0 2px #0081d8;
  }
}

@keyframes glowingBlue {
  0% {
    -webkit-box-shadow: 0 0 2px #0081d8;
            box-shadow: 0 0 2px #0081d8;
  }
  50% {
    -webkit-box-shadow: 0 0 12px #0081d8;
            box-shadow: 0 0 12px #0081d8;
  }
  100% {
    -webkit-box-shadow: 0 0 2px #0081d8;
            box-shadow: 0 0 2px #0081d8;
  }
}

.block-bg {
  margin-top: 15px;
  padding: 5px 10px;
  background: #dcf8ff;
  border: 1px solid #1cacff;
  border-radius: 3px;
}

.footer-button {
  text-align: center;
  padding: 20px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 15px 0 #8196a073;
          box-shadow: 0 4px 15px 0 #8196a073;
  border-radius: 5px;
  background-color: #0299ff;
  background-position: 1.35em 0.94em;
  background-size: 1em;
  background-repeat: no-repeat;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 260px;
  margin-bottom: 20px;
  -webkit-animation: glowingBlue 2000ms infinite both;
          animation: glowingBlue 2000ms infinite both;
}

.footer-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.body-img {
  margin-top: 15px;
  width: 100%;
}

.body-img img {
  width: 100%;
}

.img-info {
  margin-top: 10px;
  font-style: italic;
  text-align: center;
}

.answ-img {
  width: 60%;
  margin: 10px auto 0 auto;
}

.answ-img img {
  width: 100%;
}

.image-4 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=new-css.css.map */