/** @format */

@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500';
@import 'https://fonts.googleapis.com/css?family=Lato:300,400,500';
body {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
	line-height: 1.5;
	color: #555;
	font-size: 1.1rem;
}

img {
	width: 100%;
}

h1 {
	font-family: 'Roboto Slab', 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.25;
	color: #333;
	margin: 0.5em auto;
}

h2 {
	font-family: 'Roboto Slab', 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.25;
	color: #2f71f5;
	text-align: center;
}

h3 {
	font-size: 1.2rem;
	font-weight: 700;
	color: #000;
}

b {
	color: #000;
}

a {
	color: #e81c4f;
}

ul {
	list-style: disc;
	margin: 0 0 20px 20px;
	padding: 0;
}

p ul {
	list-style: disc;
}

main {
	padding: 15px;
	border-bottom: solid #dadada;
}
@media screen and (min-width: 1200px) {
	.section-comments {
		margin: 20px auto 0 auto;
		max-width: 980px;
	}
}
@media screen and (min-width: 1200px) {
	main,
	header {
		max-width: 980px;
		margin: 0 auto;
	}
}

footer {
	text-align: center;
	padding: 10px 10px;
	color: #fff;
	background: #2a2a2a;
	font-size: 0.85rem;
}

hr {
	margin: 0;
	padding: 0;
}

header {
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.14);
}

.header-img {
	width: 100%;
}

.tags {
	font-size: 0.85rem;
	line-height: 1;
	margin: 0;
	padding: 0;
}
.tags ul {
	list-style: none;
	margin: 0;
}
.tags li {
	display: inline-block;
	margin: 0 5px 5px 0;
	padding: 3px 6px 4px;
	line-height: 1;
	color: #fff;
	background-color: #222;
	white-space: nowrap;
}

.by-author {
	font-size: 0.85rem;
	margin: 1rem auto;
}

.wide-img {
	width: calc(100% + 30px);
	margin: 0 -15px;
}

.caption-img {
	font-size: 0.85rem;
}

.pulse-button {
	padding: 0px 0px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	animation: move 2s infinite;
}

@keyframes move {
	from {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}
.votch-video_arrows {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.votch-video_arrows img {
	width: 20px;
}

.intq {
	font-weight: 700;
	color: #000;
}

.border-box {
	padding: 10px;
	border: 2px solid #2f71f5;
	border-radius: 4px;
}
.border-box h3 {
	margin-top: 0px;
}
.border-box ul {
	list-style: disc;
	margin-bottom: 0;
}
.border-box p {
	margin: 0px;
}
.color-link {
	color: #f2383a;
	font-weight: 700;
	text-decoration: underline;
}

.chart {
	margin: 0 10px 10px 10px !important;
}

.chart li {
	font-size: 1rem;
	list-style-type: none;
}

.chart li:before {
	vertical-align: middle;
	margin-inline-end: 0.5rem;
	content: '';
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
}

.chart li:nth-child(1):before {
	background: #447ff3;
}
.chart li:nth-child(2):before {
	background: #d83e38;
}
.chart li:nth-child(3):before {
	background: #f3b605;
}
.chart li:nth-child(4):before {
	background: #1ea159;
}
.chart li:nth-child(5):before {
	background: #a937bb;
}
.chart li:nth-child(6):before {
	background: #1bacc1;
}
.chart li:nth-child(7):before {
	background: #fc6c44;
}

.popup-link {
	margin-bottom: 2rem;
}
.ava-img {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 10px;
	display: block;
	position: relative;
	float: left;
	margin-right: 10px;
}
.ittem-comment {
	display: block;
	position: relative;
	margin-bottom: 25px;
	min-height: 60px;
}
.ittem-comment p {
	display: block;
	position: relative;
	padding-left: 75px;
	margin-bottom: 5px;
	color: black;
	line-height: 1.3;
	margin: 0 0 20px;
}
.button-to-form {
	/* margin-top: 25px; */
	display: block;
	font-size: 120%;
	text-align: center;
	color: #fff !important;
	background-color: #3897eb;
	display: table;
	margin: 40px auto 25px auto;
	width: 350px;
	max-width: 100%;
	border-radius: 15px;
	text-decoration: none;
	padding: 15px;
}
@media (max-width: 450px) {
	.button-to-form {
		width: auto;
	}
}
.color-bg-text {
	background: yellow;
	font-weight: 700;
}
.border-box-color-bg {
	padding: 10px;
	border: 2px solid #2f71f5;
	border-radius: 4px;
	background: rgb(255, 236, 251);
}
.graph__value svg {
	width: 100%;
}
@media (max-width: 480px) {
	.graph__value svg {
		/* width: 100%;
		width: 430px;
		height: 233px; */
	}
}
.graph,
.graph__name {
	margin-bottom: 15px;
}
.graph {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 15px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	/* -ms-border-radius: 5px; */
	/* -o-border-radius: 5px; */
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 640px) {
	.graph {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
.graph__name--item {
	font-size: 18px;
	font-weight: 700;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.graph__name--item:nth-child(1):before {
	background-color: #ed6e6f;
}
.graph__name--item:before {
	content: '';
	display: block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	/* -ms-border-radius: 50%; */
	/* -o-border-radius: 50%; */
	margin-right: 20px;
	/* -ms-flex-negative: 0; */
	flex-shrink: 0;
}
.graph__name--item:before {
	content: '';
	display: block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	/* -ms-border-radius: 50%; */
	/* -o-border-radius: 50%; */
	margin-right: 20px;
	/* -ms-flex-negative: 0; */
	flex-shrink: 0;
}
.graph__name--item:nth-child(3):before {
	background-color: #7c7c7c;
}
.graph__name--item:nth-child(2):before {
	background-color: #4758a5;
}
@media screen and (min-width: 640px) {
	.graph__name {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.graph__name--item:not(:last-child) {
		margin-bottom: 0;
		margin-right: 15px;
	}
}
.green-text {
	font-weight: 700;
	color: #22d700;
}
