@font-face {
    font-family: OpenSans;
    font-weight: 300;
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: OpenSans;
    font-weight: 400;
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: OpenSans;
    font-weight: 500;
    src: url("../fonts/OpenSans-Medium.ttf");
}

@font-face {
    font-family: OpenSans;
    font-weight: 600;
    src: url("../fonts/OpenSans-Semibold.ttf");
}

@font-face {
    font-family: OpenSans;
    font-weight: 700;
    src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: Merriweather;
    font-weight: 300;
    src: url("../fonts/Merriweather-Light.ttf");
}

@font-face {
    font-family: Merriweather;
    font-weight: 400;
    src: url("../fonts/Merriweather-Regular.ttf");
}

@font-face {
    font-family: Merriweather;
    font-weight: 700;
    src: url("../fonts/Merriweather-Bold.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 300;
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: Museo;
    font-weight: 900;
    src: url("../fonts/Museo-Black.ttf");
}


*:focus {
    outline: none;
}

img {
    max-width: 100%;
}

body {
    font-family: OpenSans, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
}

html {
    line-height: 125%;
}

.content-container {
    max-width: 900px;
    padding-inline: 25px;
    margin-inline: auto;
    overflow-x: hidden;
}

.text {
    margin-top: 1rem;
    line-height: 125%;
}

.title {
    margin-top: 2rem;
    font-family: Merriweather, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #EA385E;
}

.title_after-line {
    margin-top: 40px;
}

.text_bold {
    font-weight: 700 !important;
}

.text_italic {
    font-style: italic !important;
}

.text_md {
    font-size: 20px;
}

.text_xl {
    font-size: 24px;
}

.text_sm {
    font-size: 14px;
}

.text_red {
    color: #EA385E;
}

.plaster-text__wrap {
    display: flex;
    align-items: center;
    margin-block: 20px;
    padding-left: 15px;
}

.plaster {
    height: 27px;
}

.plaster__text {
    margin-left: 15px;
    line-height: 135%;
}

.main__separate-line {
    width: 100%;
    height: 1px;
    margin-block: 20px;
    position: relative;
    background-color: #3070A7;
}

.main__separate-line:after {
    content: '';
    width: 100%;
    height: 1px;
    display: inline-block;
    position: absolute;
    bottom: -5px;
    background-color: #D9D9D9;
}






.header-cap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    padding: 12px 20px;
    background-color: #0B5891;
}

.cap-block:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cap-block:nth-child(3) {
    justify-self: flex-end;
}

.cap-block {
    display: flex;
    align-items: flex-start;
}

.cap__btn {
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    padding: 5px 13px;

    font-weight: 700;
    font-size: 11px;
    text-decoration: none;
    line-height: 125%;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.cap__btn:hover {
    text-decoration: none;
    color: #fff;
}

.cap__btn:last-child {
    margin-right: 0;
}

.cap__btn_search {
    padding-inline: 7px;
}

.cap__btn_red {
    background: linear-gradient(90deg, rgba(169,60,181,1) 12%, rgba(255,18,91,1) 60%);
    border: none;
}

.cap__separate-line {
    height: 100%;
    margin-right: 17px;
    width: 1px;
    background: #85ACC8;
}

.cap__btn_star {
    background: linear-gradient(-136deg,#1796b4 0,#21d6ce 100%);
    border: none;
}

.search {
    width: 18px;
}

.burger {
    width: 16px;
    margin-left: 5px;
}

.cap__logo {
    height: 25px;
}

.person {
    width: 13px;
    margin-right: 5px;
}

.star {
    width: 12px;
    margin-right: 5px;
}

.cap__logo_sm {
    display: none;
}

.burger_sm {
    display: none;
}

.person_sm {
    display: none;

}

.star_sm {
    display: none;
}
@media(max-width: 1200px) {
    .cap__btn_red {
        display: none;
    }

    .cap__separate-line {
        display: none;
    }

    .person-btn__text {
        display: none;
    }

    .cap__btn_person {
        padding-inline: 7px
    }

    .person {
        margin-right: 0;
    }
}

@media(max-width: 767px) {
    .header-cap {
        background-color: #fff;
    }

    .cap__logo {
        display: none;
    }

    .cap__logo_sm {
        display: inline-block;
    }

    .cap__btn_red {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }

    .burger_sm {
        display: inline-block;
    }

    .cap__btn_search {
        display: none;
    }

    .cap__btn_sessiones {
        display: none;
    }

    .star_sm {
        width: 20px;
        display: inline-block;
    }

    .person_sm {
        width: 20px;
        margin-right: 5px;
        display: inline-block;
    }

    .cap__btn_star {
        display: none;
    }

    .cap-block:nth-child(2) {
        position: absolute;
        top: 50%;
        left: 50px;
        transform: translate(0, -50%);
    }

    .cap__btn_person {
        display: none;
    }

    .cap-block {
        align-items: center;
    }

    .cap__logo {
        height: 20px;
    }
}

@media(max-width: 576px) {
    .cap__btn_red {
        display: none;
    }
}




nav {
    padding-block: 10px;
    border-bottom: 2px solid #DDDDDD;
}

.nav__inner {
    width: 1200px;
    margin-inline: auto;
    display: flex;
    align-items: center;
}

.nav__link {
    margin-right: 25px;
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
    color: #2d4254;
}

.nav__link:hover {
    color: #2d4254;
    text-decoration: none;
}

.nav__link_xl {
    font-weight: 600;
    font-size: 15px;
}

.nav__link:not(.nav__link_xl) {
    margin-bottom: -2px;
}

.nav__link:last-child {
    font-weight: 600;
    color: #0c5991;
}

.nav__separate-line {
    width: 1px;
    height: 13px;
    margin-right: 25px;
    background-color: #0B5891;
}


@media(max-width: 1300px) {
    .nav__inner {
        max-width: 850px;
    }
}

@media(max-width: 991px) {
    nav {
        display: none;
    }
}





aside {
    padding-top: 5px;
    padding-left: 10px;
    position: fixed;
    top: 20%;
    left: 11%;
    border-left: 1px solid #03A9F4;
}

.media__title {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 11px;
    color: #0072ac;
    text-transform: capitalize;
}

.media-list {
    display: flex;
    flex-direction: column;
}

.media-el {
    text-align: center;
    margin-bottom: 12px;
    text-decoration: none;
}

.media-el__img {
    width: 30px;
}

@media(max-width: 1400px) {
    aside {
        left: 2%;
    }
}

@media(max-width: 1100px) {
    aside {
        display: none;
    }
}

.product__link {
    color: #000;
    font-weight: 700;
}

.product__link {
    color: #000;
}



.article__poster-wrap {
    position: relative;
}

.article__poster-text-wrap {
    position: absolute;
    bottom: 0;
    left: -3%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.article__poster-text {
    display: inline-block;
    padding: 20px 25px;
    font-family: Merriweather, sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    background-color: #27578D;
}

.article-description {
    margin-left: 8%;
    margin-right: -12%;
    padding: 30px 30px 15px 30px;
    background: #D9D9D9;
}

.article-description__text {
    font-family: Merriweather, sans-serif;
    font-size: 12px;
}

.article-description__title {
    font-size: 24px;
}

.article-description__pros {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-description__pros-el {
    margin-bottom: 0;
    font-size: 15px;
    color: #596572;
}

.article-description__pros-el:first-child {
    font-weight: 700;
    color: #27578D;
}

.article-description__pros-separate-line {
    width: 1px;
    height: 13px;
    background-color: #596572;
}


.article-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 8%;
    padding-block: 25px;
}

.article-media__author {
    display: flex;
    align-items: center;
}

.article-media__author-avatar {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #3070A7;
}

.article-media__author-description {
    margin-left: 8px;
}

.article-media__author-text {
    margin-bottom: 0;
    font-size: 11px;
    line-height: 115%;
    color: #666;
}

.article-media__author-name {
    margin-bottom: 5px;
    font-weight: 700;
    color: #0072ac;
}

.article-media__links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-media__links-el {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
    text-decoration: none;
}

.article-media__links-el:last-child {
    margin-right: 0;
}

.article-media__links-el:hover {
    text-decoration: none;
    color: #0072ac;
}

.article-media__links-el:nth-child(4) .article-media__link-text, .article-media__links-el:nth-child(5) .article-media__link-text{
    color: #000 !important;
}

.article-media__link-img {
    height: 29px;
}

.article-media__links-el:nth-child(1) .article-media__link-img {
    height: 24px;
}

.article-media__link-text {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 10px;
    color: #0072ac;
    line-height: 115%;
}

.article__poster-text_sm {
    display: none;
}

@media(max-width: 1075px) {
    .article-description {
        margin-left: 0;
        margin-right: 0;
    }
}

@media(max-width: 800px) {
    .article__poster-text {
        display: none;
    }

    .article__poster-text_sm {
        display: inline;
        padding-block: 7px;
        padding-inline: 10px
        font-size: 26px;
        line-height: 56px;
        box-shadow: 17px 0 0 0 #27578D, -17px 0 0 0 #27578D;
    }

    .article__poster-text-wrap {
        display: block;
        left: 0;
    }
}

@media(max-width: 767px) {
    .article-description {
        padding: 15px 15px 10px;
        margin-right: -15px;
        margin-left: 25px;
    }

    .article-description__pros {
        display: none;
    }

    .content-container {
        padding-inline: 15px;
    }

    .article-media {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
    }

    .article-media__links {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        flex-basis: 100%;
        width: 100%;
    }

    .article-media__links-el {
        margin-right: 0;
    }
}

@media(max-width: 576px) {

    .article__poster-text-wrap {
        position: static;
    }

    .article__poster-text_sm {
        display: inline;
        padding-block: 7px;
        padding-inline: 10px;
        font-size: 22px;
        line-height: 48px;
    }

    .article-description__title {
        font-size: 20px;
    }
}

@media(max-width: 450px) {
    .article__poster-text_sm {
        display: inline;
        padding-block: 5px;
        padding-inline: 6px;
        font-size: 18px;
        line-height: 38px;
    }

    .article-description__title {
        font-size: 17px;
    }

    .article-description__text {
        font-size: 10px;
        line-height: 125%;
    }
}








.person-block {
    display: grid;
    grid-template-columns: 11fr 13fr;
    grid-column-gap: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 25px;
    position: relative;
    border-top: 1px solid #D9D9D9;
}

.person-block:before {
    content: '';
    width: 100%;
    height: 1px;
    display: inline-block;
    position: absolute;
    top: -4px;
    background: #3070A7;
}

.person-block:after {
    content: '';
    width: 50%;
    height: 5px;
    display: inline-block;
    position: absolute;
    top: -4px;
    background: #fff;
}

.person__img {

}

.person-description__title-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.person-description__title {
    font-family: Merriweather, sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.person-description__title:first-letter {
    margin-right: 15px;
    float: left;
    font-size: 96px;
    text-shadow: 10px 10px 0 #27578D;
    line-height: 105%;
}

.block {
    display: block;
}

.person-partner__img {
    height: 82px;
    margin-top: -25px;
}

.person__text {
    margin-top: -5%;
    font-size: 22px;
    line-height: 125%;
}

.person__text_first-line {
    padding-left: 25%;
}






.person-university__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    margin-top: 30px;
    margin-bottom: 75px;
}

.person-university-description {
    position: relative;
    bottom: -10%;
    padding: 25px;
    background: no-repeat right bottom/60% auto url("../img/bg1.png") #D9D9D9;
}

.person-university-description__label {
    display: flex;
    align-items: center;
    position: relative;
    margin-inline: calc(-1 * calc(25px + 5%));
    padding-left: 5px;
    padding-right: calc(25px + 5%);
    padding-block: 5px;
    background-color: #27578D;
    z-index: 10;
}

.person-university-description__label-img {

}

.person-university-description__label-text {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 15px;
    font-family: Merriweather, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 115%;
    color: #fff;
}

.person-university-description__text {
    margin-top: 35px;
    font-size: 22px;
    line-height: 125%;
}

.person-university__img {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 2px solid #27578D;
    z-index: 11;
}

.person-media {
    display: none;
}

@media(max-width: 991px) {
    .person-description__title {
        font-size: 24px;
    }

    .person-description__title:first-letter {
        font-size: 64px;
    }

    .person-university-description__label-img {
        height: 75px;
    }

    .person-university-description__label-text {
        font-size: 28px;
    }
}

@media(max-width: 767px) {
    .person-block {
        position: relative;
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;
    }

    .person-partner__img {
        position: absolute;
        top: 4%;
        left: 11%;
    }

    .person-block:after {
        display: none;
    }

    .person-media {
        display: block;
        position: absolute;
        top: 258px;
        left: 50%;
        transform: translate(185%, -50%);
    }

    .person-description {
        margin-top: 25px;
    }

    .person-description__title {
        font-size: 32px;
    }

    .person__text_first-line {
        padding-left: 14%;
    }

    .plaster-text__wrap {
        padding-left: 0;
    }

    .person-university__wrap {
        grid-template-columns: 1fr;
    }

    .person-university__img {
        grid-row: 1;
        justify-self: center;
        padding-bottom: 0;
        border: none;
        z-index: auto;
    }

    .person-university-description {
        padding-top: 0;
        top: -1px;
        bottom: auto;
    }

    .person-university-description__label {
        position: relative;
        width: auto;
        padding-right: 0;
        padding-left: 0;
        padding-block: 10px;
        margin-inline: -40px;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .person-university-description__label:before {
        content: '';
        display: inline-block;
        position: absolute;
        right: 0;
        top: -15px;
        height: 2px;
        width: 200px;
        background-color: #27578D;
    }

    .person-university-description__label:after {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: -15px;
        height: 2px;
        width: 200px;
        background-color: #27578D;
    }

    .person__second-string {
        display: inline-block;
        position: relative;
        left: 50px;
        margin-right: 60px;
    }

    .person-university-description__label-img {
        height: 60px;
    }

}

@media(max-width: 620px) {
    .person-partner__img {
        height: 70px;
        position: absolute;
        top: 4%;
        left: 8%;
    }
}

@media(max-width: 576px) {
    .person-partner__img {
        height: 70px;
        position: absolute;
        top: 4%;
        left: 1%;
    }

    .person-media {
        display: block;
        position: absolute;
        top: 258px;
        left: 50%;
        transform: translate(135%, -50%);
    }

    .person__text {
        margin-bottom: 0;
    }

    .plaster {
        height: 23px;
    }

    .text {
        font-size: 16px;
    }

    .text_md {
        font-size: 18px;
    }

    .title {
        font-size: 20px;
    }

    .person-university__wrap {
        margin-bottom: 20px;
    }
}

@media(max-width: 450px) {
    .person-partner__img {
        height: 50px;
        position: absolute;
        top: 4%;
        left: 0;
    }

    .person-media {
        display: block;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(135%, -50%);
    }

    .person__text {
        margin-top: -9%;
    }

    .person-description__title {
        font-size: 24px;
    }

    .person__text_first-line {
        padding-left: 18%;
    }

    .person-university-description__label-text {
        font-size: 24px;
    }
}

@media(max-width: 420px) {
    .person-media {
        width: 70px;
        display: block;
        position: absolute;
        top: 25%;
        left: auto;
        right: -15px;
        transform: translate(0, -50%);
    }
}




.quote {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-column-gap: 25px;
    margin-top: 35px;
    margin-bottom: 30px;
}

.quote__img {
    height: 150px;
}

.quote__text {
    margin: 0;
    font-weight: 300;
    line-height: 135%;
}

.quote__mark {
    display: inline-block;
    margin-bottom: -7px;
    margin-right: -3px;
    font-size: 42px;
}

.quote_right {
    grid-template-columns: 4fr 3fr;
}

.quote_right .quote__img {
    width: auto;
    height: auto;
}

.quote_right .quote__text {
    font-weight: 400;
}

.quote__author {
    margin-top: 25px;
    font-weight: 700;
}


@media(max-width: 576px) {
    .quote {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }
}



/*TABLE*/


.product__table-block {
    position: relative;
    margin-top: 45px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 15px;
    background: no-repeat right bottom/40% auto url("../img/bg1.png") #F6F7F9;
    overflow: hidden;
}

.table__header-info {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-column-gap: 200px;
    padding-left: 50px;
}

.table__header-title-block {
    position: relative;
    background-color: #fff;
}

.table__header-title-wrap {
    height: 100%;
    position: relative;
    margin: 1px;
    padding: 10px;
    z-index: 10;
    background-color: #fff;
}

.table__header-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 99%;
    z-index: 1;
}

.table__header-red-block {
    background-color: #C31631;
}

.table__header-blue-block {
    width: 60%;
    height: 50%;
    left: auto;
    right: 0;
    background-color: #006CB8;
}

.table__header-title {
    font-family: Roboto, sans-serif !important;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #27578D;
    text-transform: uppercase;
}

.table__header-date {
    font-weight: 300;
    color: #728187;
    text-transform: none;
}

.table__header-logo-wrap {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px 15px 7px 7px;
    background-color: #27578D;
}

.table__header-logo {
    width: 280px;
}

.table__header-logo-label {
    margin-left: 15px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    color: #72706F;
}

.table__header-logo-label_xl {
    font-weight: 600;
    font-size: 22px;
}


.table__header-label {
    width: 40%;
    position: relative;
    text-align: right;
    transform: translateY(-50%);
    padding: 5px 25px 5px 0;
    background-color: #EA385E;
    z-index: 15;
}

.table__header-label-text {
    margin-bottom: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}





.product__table {
    margin: 0 25px;
    table-layout: fixed;
}

.product__table td {
    border-right: 1px solid #C31631;
}

.product__table td:nth-child(1) {
    width: 25%;
}

.product__table td:nth-child(2) {
    width: 16%;
}

.product__table td:nth-child(3) {
    width: 14%;
}

.product__table td:nth-child(4) {
    width: 15%;
}

.product__table td:last-child {
    width: 15%;
    border-right: none;
}


.table__cell-block {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin: 10px;

    background-color: #FFFFFF;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

td {
    vertical-align: middle;
}

.product__table tr:first-child .table__cell-block {
    margin: 2px;
}

.product__table tr:first-child .table__cell-block, .product__table td:last-child .table__cell-block {
    background-color: transparent;
}

.product__table td:first-child .table__cell-block {
    position: relative;
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-content: flex-start;
    text-align: left;
}

.table__cell-text {
    margin-bottom: 0;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
    hyphens: none;
}

.table__cell-text_xl {
    font-weight: 900;
    font-size: 22px;
}

.product__table td:nth-child(2) .table__cell-text_xl {
    font-weight: 500;
}
.product__table tr:first-child .table__cell-text {
    font-size: 12px;
    text-transform: uppercase;
}

.product__table tr:first-child td:nth-child(3) .table__cell-text {
    font-size: 18px;
}

.product__table td:nth-child(odd) .table__cell-text {
    color: #C31631;
}

.product__table td:nth-child(even) .table__cell-text {
    color: #27578D;
}

.product__table td:nth-child(1) .table__cell-text {
    color: #27578D;
}

.table__cell-img {
    max-width: none !important;
    height: 75px;
    margin-top: -15px;
    margin-bottom: -15px;
    margin-left: -25px;
}

.product__table tr:nth-child(2) td:first-child .table__cell-img {
    margin-left: -10px;
}

.product__table tr:nth-child(3) td:first-child .table__cell-img {
    margin-left: -15px;
}


.table__cell-percentage {
    position: relative;
}

.table__cell-pointer {
    position: absolute;
    width: 35px;

    top: 18px;
    left: 12px;
    z-index: 9;
}

.table__cell-pointer-text {
    position: relative;
    font-family: Museo, sans-serif;
    font-weight: 900;
    font-size: 30px;

    z-index: 10;
}

.table__cell-line {
    width: 50%;
}




.table__footer {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-column-gap: 50px;
    margin-top: 25px;
    padding: 0 35px;
}

.table__footer-text-wrap {
    padding-left: 10px;
    padding-bottom: 15px;
    border-left: 1px solid #C31631;
    border-bottom: 1px solid #C31631;
}

.table__footer-text {
    margin-bottom: 0;

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #27578D;

    hyphens: none;
}

.blue-text {
    display: inline;
    color: #27578D;
}

.table__footer-logo {
    width: 175px;
}

.table__header-label_sm {
    display: none;
}

@media(max-width: 991px) {
    .table__header-info {
        grid-column-gap: 125px;
    }
    .table__header-title {
        font-size: 18px;
        hyphens: none;
    }

    .table__cell-block {

        margin: 5px;
    }

    .product__table td:first-child .table__cell-block {
        grid-template-columns: 40px 1fr;
    }

    .table__cell-img {
        height: 60px;
    }

    .table__cell-text {
        font-size: 12px;
    }

    .table__cell-pointer-text {
        font-size: 24px;
    }

    .table__cell-pointer {
        width: 25px;
        top: 22px;
        left: 20px;
    }

    .table__footer {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767px) {
    .table__header-info {
        grid-column-gap: 50px;
    }

    .table__header-title {
        margin-bottom: 0;
        font-size: 16px;
    }

    .table__header-logo {
        width: 120px !important;
    }

    .table__header-title-wrap {
        padding-bottom: 30px;
    }

    .table__header-info {
        grid-template-columns: 6fr 2fr;
    }

    .table__header-label {
        width: 65%;
    }

    .product__table {
        width: 767px;
    }

    .product__table-block {
        overflow: hidden;
    }

    .product__table-wrap {
        overflow-x: auto;
        scrollbar-width: none;
    }

    .product__table-wrap::-webkit-scrollbar {
        display: none;
    }
}

@media(max-width: 576px) {
    .table__header-info {
        margin-top: 50px;
        grid-template-columns: 1fr;
        padding-left: 15px;
    }

    .table__header-title-block {
        width: 75%;
        min-width: 290px;
    }

    .table__header-logo-wrap {
        grid-row:  1/2;
        margin-bottom: 15px;
        justify-self: center;
    }

    .table__header-label_xl {
        display: none;
    }

    .table__header-label_sm {
        min-width: 265px;
        display: block;
        margin-left: -15px;
    }

    .table__header-label-text {
        font-size: 18px;
    }

    .table__footer {
        grid-template-columns: 1fr;
        justify-items: center;

        padding: 0 15px;
    }

    .table__footer-text-wrap {
        width: 100%;
    }

    .table__footer-text {
        font-size: 14px;
    }

    .table__footer-logo {
        margin-top: 25px;
    }
}

@media(max-width: 450px) {
    .table__header-title {
        font-size: 14px;
    }
}


.principle-block {
    margin-top: 25px;
    padding: 25px 40px;
    background: no-repeat right bottom/30% auto url("../img/bg1.png") #EFEFEF;
}

.principle-list {

}

.principle-el {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #EA385E;
}

.principle-el:first-child {
    margin-top: 0;
}

.principle-el__number {
    width: 50px;
    margin-bottom: 0;
    font-family: Merriweather, sans-serif;
    font-size: 32px;
    color: #EA385E;
}

.principle-el__text {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 25px;
}

@media(max-width: 576px) {
    .principle-block {
        padding: 15px;
    }
}





.result-block {
    margin-top: 25px;
}

.result-list {

}

.result-el {
    position: relative;
    max-width: 500px;
    margin-top: 25px;
    margin-inline: auto;
}

.result-el__text-wrap {
    position: relative;
    padding: 20px 25px;
    text-align: center;
    background: #27578D;

}

.result-el:nth-child(odd) .result-el__text-wrap {
    top: -20px;
    right: -20px;
    box-shadow: -30px 20px 0 #D9D9D9;
}

.result-el:nth-child(even) .result-el__text-wrap {
    top: -20px;
    left: -20px;
    box-shadow: 30px 20px 0 #D9D9D9;
}

.result-el__text {
    margin: 0;
    font-weight: 700;
    line-height: 115%;
    color: #fff;
}


@media(max-width: 576px) {
    .result-el__text-wrap {
        padding: 15px;
    }

    .result-el:nth-child(odd) .result-el__text-wrap {
        top: -10px;
        right: -10px;
        box-shadow: -20px 10px 0 #D9D9D9;
    }

    .result-el:nth-child(even) .result-el__text-wrap {
        top: -10px;
        left: -10px;
        box-shadow: 20px 10px 0 #D9D9D9;
    }
}

@media(max-width: 450px) {
    .result-el__text {
        font-size: 16px;
    }
}

.doctor-block {
    margin-top: 60px;
}

.doctor-block:last-child {
    margin-bottom: 50px;
}

.doctor-cap {
    display: grid;
    grid-template-columns: 350px 1fr;
}

.doctor-block_right .doctor-cap {
    grid-template-columns: 1fr 350px;
}

.doctor__img {
    position: relative;
    top: -20px;
    left: -20px;
}

.doctor-block_right .doctor__img {
    left: auto;
    right: -20px;
}

.doctor-cap-description {
    height: 100%;
    background-color: #D9D9D9;
}

.doctor-label__text {
    margin-top: 20px;
    margin-left: -30px;
    margin-right: -20px;
    padding-left: 35px;
    padding-block: 12px;
    font-family: Merriweather, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: #fff;
    background-color: #27578D;
}

.doctor-block_right .doctor-label__text {
    margin-right: -20px;
    padding-right: 35px;
}

.doctor-cap-description__text {
    padding-left: 25px;
}

.doctor-block_right .doctor-cap-description__text {
    padding-right: 25px;
}

.doctor-body {
    padding: 25px 25px 5px 25px;
    background: no-repeat left bottom/30% auto url("../img/bg2.png") #D9D9D9;
}

.doctor-block_right .doctor-body {
    background: no-repeat right bottom/30% auto url("../img/bg1.png") #D9D9D9;
}

.doctor-body .text {
    margin-top: 0;
    margin-bottom: 5px;
    line-height: 125%;
}

.doctor-footer {
    text-align: right;
}

.doctor-block_right .doctor-footer {
    text-align: left;
}

.title_before-line {
    margin-bottom: 40px;
}

.doctor-partner__img {
    display: none;
}

.doctor_sm {
    display: none;
}

@media(max-width: 767px) {
    .doctor-partner__img {
        display: block;
        width: 120px;
        margin-top: -75px;
        margin-inline: auto;
    }

    .doctor-block_right .doctor-partner__img {
        width: 150px;
    }

    .doctor_xl {
        display: none;
    }

    .doctor_sm  {
        display: block;
    }

    .doctor-cap {
        align-items: flex-end;
    }

    .doctor-label__text {
        margin-bottom: 0;
        margin-right: -15px;
    }

    .doctor-block_right .doctor-label__text {
        margin-left: -15px;
        margin-bottom: 0;
        padding-left: 15px;
        padding-right: 5px;
    }

    .doctor-cap-description {
        padding-bottom: 40px;
    }

    .doctor-cap {
        grid-template-columns: 3fr 4fr;
    }

    .doctor-block_right .doctor-cap {
        grid-template-columns: 3fr 4fr;
    }

    .doctor-cap-description__text {
        padding-left: 0;
        margin-bottom: 25px !important;
    }

    .doctor-block_right .doctor-cap-description__text {
        padding-right: 0;
    }
}


@media(max-width: 576px) {
    .doctor-cap {
        grid-template-columns: 4fr 3fr;
    }

    .doctor-label__text {
        font-size: 22px;
    }

    .doctor__img {
        top: -10px;
        left: -10px;
    }

    .doctor-block_right .doctor-partner__img {
        width: 125px;
    }
}

@media(max-width: 450px) {
    .text {
        font-size: 14px;
    }
    .text_md {
        font-size: 16px;
    }
    .title {
        font-size: 18px;
    }
}

@media(max-width: 375px) {
    .doctor-label__text {
        font-size: 18px;
    }
    .doctor-partner__img {
        width: 90px;
    }

    .doctor-block_right .doctor-partner__img {
        width: 105px;
    }
}






.facts-block {
    margin-bottom: 40px;
}

.facts-list {

}

.facts-el {
    display: flex;
    align-items: center;
}

.facts-el__img {
    width: 125px;
}

.facts-el__text {
    margin-block: 0;
    margin-left: 25px;
}

@media(max-width: 767px) {
    .facts-el__img {
        width: 100px;
    }
}

@media(max-width: 576px) {
    .facts-el__img {
        width: 75px;
    }

    .facts-el__text {
        margin-left: 15px;
    }
}

@media(max-width: 450px) {
    .facts-el__img {
        width: 50px;
    }
}






.ingredients-block {

}

.ingredients__poster-wrap {
    margin-top: 25px;
    text-align: center;
}

.ingredients__poster {
    max-width: 350px;
}

.ingredients-list {

}

.ingredients-el {
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding: 20px;
    background: no-repeat right bottom/auto 100% url("../img/bg4.png") #D9D9D9;
}

.ingredients-el__text {

}

.ingredients-el__img {
    margin-left: 40px;
}

@media(max-width: 576px) {
    .ingredients__poster {
        width: 60%;
        min-width: 225px;
    }

    .ingredients-el {
        flex-direction: column-reverse;
        align-items: center;
        padding: 15px;
        background-size: 60% auto;
    }

    .ingredients-el__img {
        min-width: 175px;
        width: 50%;
        margin-left: 0;
    }
}





.research-block {
    position: relative;
    margin-top: 40px;
    background-color: #D9D9D9;
    padding-top: 40px;
}

.research-bg1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
}

.research-bg2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
}

.research-label {
    width: 40%;
    margin-right: auto;
    position: relative;
    text-align: right;
    padding-block: 12px;
    padding-right: 25px;
    background-color: #fff;
}

.research-label__img {
    height: 100px;
    position: absolute;
    top: 78%;
    transform: translateY(-50%);
    left: 7%;
}

.research-label__text {
    margin: 0;
    font-weight: 700;
    color: #EA385E;
    text-transform: uppercase;
}

.research-list {
    max-width: 650px;
    margin-inline: auto;
    margin-top: 40px;
}

.research-el {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding: 15px 15px 15px 0;
    background-color: #fff;
}

.research-el__number {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    transform: translateX(-50%);
    color: #fff;
    background: #27578D;
}

.research-el__description {
    margin-left: 3%;
}

.research__text {
    margin: 0;
    color: #27578D;
}

.research-footer {
    width: 75%;
    margin-top: 30px;
    margin-left: auto;
    padding: 20px 15px 10px 20px;
    display: flex;
    align-items: center;
    background: #27578D;
}

.research-footer__text {
    margin: 0;
    font-size: 11px;
    color: #fff;
    line-height: 115%;
}

.research-footer__img {
    margin-left: 20px;
    max-width: 400px;
}

@media(max-width: 991px) {
    .research-label {
        min-width: 360px;
    }

    .research-footer {
        width: 85%;
    }

}

@media(max-width: 920px) {
    .research-list {
        max-width: 550px;
    }

    .research__text {
        font-size: 16px;
    }
}

@media(max-width: 767px) {
    .research-list {
        width: 90%;
    }

    .research-el__number {
        flex-shrink: 0;
    }

    .research-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .research-footer__text {
        font-size: 12px;
    }

    .research-footer__img {
        width: 300px;
        margin-left: 0;
        margin-top: 10px;
    }
}

@media(max-width: 576px) {
    .research-list {
        margin-top: 20px;
    }

    .research-label {
        min-width: 305px;
    }

    .research-label__text {
        font-size: 20px;
    }

    .research-label__img {
        top: 60%;
        height: 75px;
    }

    .research__text {
        margin-left: -20px;
        font-size: 14px;
    }

    .research-el__number {
        width: 35px;
        height: 35px;
        font-size: 20px;
    }
}

@media(max-width: 450px) {
    .research__text {
        font-size: 12px;
    }

    .text_sm {
        font-size: 10px;
        margin-top: 5px;
        line-height: 125%;
    }

    .research-label {
        min-width: 260px;
    }

    .research-label__text {
        font-size: 18px;
    }

    .research-footer__img {
        width: 250px;
    }
}


@media(max-width: 767px) {
    .quote_right {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .quote_right .quote__img {
        grid-row: 1;
        margin-bottom: 15px;
    }
 }






.partners-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 45px;
    padding-block: 15px;
    background-color: #27578D;
}

.partner__img {
    margin-right: 45px;
}

.partner__img:last-child {
    margin-right: 0;
}


@media(max-width: 991px) {
    .partner__img {
        height: 75px;
    }
}

@media(max-width: 767px) {
    .partner__img {
        height: 60px;
        margin: 0;
    }
}

@media(max-width: 576px) {
    .partner__img {
        height: 45px;
    }
}











.form-block {
    margin-top: 40px;
    margin-bottom: 40px;
    display: none;
}

.form-header {
    display: grid;
    grid-template-columns: 7fr 3fr;
    align-items: flex-end;
}

.form-title__wrap {
    position: relative;
    text-align: center;
    padding: 15px 15px 5px 15px;
    border: 2px solid #27578D;
    border-bottom: none;
}

.form-title__wrap:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -8px;
    left: -2px;
    width: calc(4px + 100%);
    height: 2px;
    background-color: #27578D;
}

.form-title {
    font-weight: 700;
    font-size: 28px;
    color: #27578D;
}

.form-partners {
    padding-inline: 10px;
    background: #27578D;
}

.form-timer__block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 10px;
    background-color: #EA385E;
}

.form-timer__text {
    margin-bottom: 0;
    font-size: 26px;
    font-weight: 700;
    line-height: 125%;
    color: #fff;
    letter-spacing: 0.06em;
}

.form-timer {
    display: flex;
    align-items: center;
    margin-left: 45px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
}

.form-timer__symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 55px;
    margin-right: 5px;
    color: #000;
    background-color: #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.form-timer__symbol:last-child {
    margin-right: 0;
}

.form-timer__hyphen {
    margin-right: 5px;
}

.form-content {
    padding-bottom: 30px;
    border: 2px solid #27578D;
    border-top: none;
}

.form-price__block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5px;
    padding-right: 10%;
}

.form-price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-price__text_old {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 32px;
    color: rgba(0,0,0,0.56);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: line-through;
    letter-spacing: 0.06em;
}

.form-price__text_new {
    margin: 0;
    font-weight: 700;
    font-size: 42px;
    color: #EA385E;
    letter-spacing: 0.06em;
}

.form-price__img {

}

.form-description {
    width: 85%;
    text-align: center;
    margin-top: 5px;
    margin-inline: auto;
}

.form-description__text {
    margin: 0;
    font-weight: 700;
    line-height: 125%;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: #27578D;
}


.inline-block {
    display: inline-block;
}

.form {
    max-width: 550px;
    margin-top: 25px;
    margin-inline: auto;
}

.form-list {
    width: 95%;
    margin-inline: auto;
}

.form-group {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 30px;
    border-top: 2px solid #27578D;
    border-bottom: 2px solid #27578D;
}

.form-group:last-child {
    border-top: none;
}

.form-input__img {
    width: 40px;
}

.form-input__wrap {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.form-label {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    color: #27578D;
    text-transform: uppercase;
}

.form-input {
    width: 100%;
    padding: 9px 0 9px 15px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 22px;
    background-color: #D9D9D9;
    border: none;
}

.form-input::placeholder {
    font-family: Roboto, sans-serif;
    color: #7E7B7B;
    text-transform: uppercase;
}

.form-btn {
    width: 100%;
    max-width: 550px;
    margin-top: 30px;
    margin-inline: auto;
    padding: 20px 30px;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    background-color: #EA385E;
    text-transform: uppercase;
    border: none;
}

.input__tel-result {
    position: absolute;
    bottom: 3px;
}


@media(max-width: 991px) {
    .form-header {
        grid-template-columns: 6fr 4fr;
    }

    .form-description__text {
        font-size: 22px;
    }

    .form-label {
        font-size: 22px;
    }

    .form-btn {
        font-size: 22px;
    }
}

@media(max-width: 767px) {
    .form-header {
        grid-template-columns: 4fr 3fr;
    }

    .form-title {
        font-size: 24px;
    }

    .form-timer__text {
        font-size: 20px;
    }

    .form-timer {
        margin-left: 15px;
    }
    .form-price__block {
        padding-right: 2%;
    }

    .form-description__text {
        font-size: 20px;
    }

    .form-label {
        font-size: 20px;
    }

    .form-btn {
        min-width: 450px;
        font-size: 20px;
        width: auto;
        padding-inline: 30px;
    }

    .form-btn__wrap {
        text-align: center;
    }
}

@media(max-width: 576px) {
    .form-title {
        font-size: 18px;
        margin-bottom: 0;
    }

    .form-timer__text {
        font-size: 14px;
    }

    .form-timer__symbol {
        width: 30px;
        height: 45px;
        font-size: 24px;
    }

    .form-title__wrap {
        padding-top: 5px;
        padding-inline: 5px;
    }

    .main__separate-line {
        width: 100vw;
        margin-inline: -15px;
    }

    .form-price__block {
        padding-right: 0;
    }

    .form-price__img {
        width: 200px;
    }

    .form-price__text_old {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .form-price__text_new {
        font-size: 36px;
    }

    .form-description {
        width: 95%;
    }

    .form-description__text {
        font-size: 18px;
    }
    .form-label {
        font-size: 18px;
    }

    .form-input__img {
        width: 30px;
        margin-bottom: 5px;
    }

    .form-group {
        padding-right: 15px;
    }

    .form-input {
        width: 100%;
        font-size: 20px;
    }

    .iti {
        width: 100%;
    }

    .form-btn {
        padding-block: 10px;
        min-width: 320px;
        font-size: 18px;
    }
}

@media(max-width: 450px) {
    .form-block {
        margin-inline: -10px;
    }

    .form-title {
        font-size: 14px;
    }

    .form-timer__text {
        font-size: 12px;
    }

    .form-timer__symbol {
        width: 25px;
        height: 35px;
        font-size: 20px;
    }

    .form-price__img {
        width: 160px;
    }

    .form-price__text_old {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .form-price__text_new {
        font-size: 28px;
    }

    .form-description__text {
        font-size: 16px;
    }

    .form-label {
        font-size: 16px;
    }

    .form-btn {
        font-size: 16px;
    }

}

@media(max-width: 375px) {

    .form-price {
        margin-right: -25px;
    }

    .form-title {
        font-size: 12px;
    }

    .form-timer__text {
        font-size: 10px;
    }

    .form-timer {
        font-size: 20px;
    }

    .form-timer__symbol {
        width: 20px;
        height: 30px;
        font-size: 16px;
    }

    .form-btn {
        min-width: 0;
        padding-inline: 45px;
    }

}



.review-block {
    margin-top: 25px;
}

.review-header {
    border-bottom: 2px solid #27578D;
}

.review-title__wrap {
    width: 50%;
    position: relative;
    text-align: center;
    margin-bottom: -2px;
    padding: 20px 0;
    border: 2px solid #27578D;
    border-bottom: none;
    background-color: #fff;
}

.review-title__wrap:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -2px;
    top: -9px;
    width: calc(4px + 100%);
    height: 2px;
    background-color: #27578D;
}

.review-title__text {
    margin: 0;
    font-family: OpenSans, sans-serif;
    font-weight: 700;
}

.review-list {
    margin-top: 40px;
}

.review-el {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-column-gap: 15px;
    margin-top: 25px;
}

.review-el:last-child {
    margin-bottom: 40px;
}

.review-el__avatar {
    width: 50px;
    height: 50px;
}

.review-el__header-description {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.review-el__name {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
}

.review-el__date {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 12px;
    color: #A8A8A8;
    line-height: 125%;
}

.review-el__text {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
}

.review-el__img {
    max-height: 350px;
}

.review-el__img-wrap.review-el__img-wrap_few {
    display: flex;
    flex-wrap: wrap;
}

.review-el__img-wrap-group {
    display: inline-block;
}

.review-el__img-wrap-group img:nth-child(1) {
    width: 85%;
}

.review-el__img-wrap-group img:nth-child(2) {
    width: 12%;
}


.review-el__img-wrap>img:first-child {
    margin-right: 15px;
    margin-bottom: 15px;
}

.review-el__img-wrap:not(.review-el__img-wrap_few) img:first-child {
    margin: 0;
    width: 85%;
}

.review-el__img-wrap:not(.review-el__img-wrap_few) img:nth-child(2) {
    width: 12%;
}

.review-el__img-plaster {
    flex-shrink: 0;
}

@media(max-width: 576px) {
    .review-title__wrap {
        width: 65%;
    }

    .review-el__avatar {
        width: 35px;
        height: 35px;
    }

    .review-el__name {
        font-size: 16px;
    }

    .review-el__text {
        font-size: 14px;
    }

    .review-el {
        grid-template-columns: 35px 1fr;
    }
}






.footer-btn__wrap {
    margin-top: 50px;
    text-align: center;
}

.footer-btn {
    width: 100%;
    max-width: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    padding-block: 18px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: #2D63A0;
    text-decoration: none;
}

.footer-btn:hover {
    color: #fff;
    text-decoration: none;
}

footer {
    margin-top: 75px;
    padding-top: 35px;
    padding-bottom: 75px;
    border-top: 4px solid #27578D;
}

.footer-container {
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 25px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    height: 29px;
}

.footer-block:nth-child(2) {
    flex-basis: 50%;
}

.footer__text {
    margin: 0;
}

.footer-media {

}

.footer-media__text {
    margin: 0;
}

.footer-media__list {
    display: flex;
    align-items: center;
    margin-top: 3px;
}

.footer-media__el {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 8px;
}

.footer-media__img {
    width: 20px;
}

@media(max-width: 767px) {
    footer {
        padding-bottom: 50px;
    }

    .footer-wrap {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-block {
        margin-top: 15px;
    }
}

/* NEW SPIN */
:root {
  --spin-el-width: 155px;
  --spin-start-offset:6;
  --spin-scroll-to: 53;


  --blocks-to-scroll: 53;
  --spin-block-width: 155px;
  --spin-gap: 75px;
  --review-avatar-length: 100px;
}

.spin {
  position: relative;
  overflow-x: hidden;
}

.spin__block {
  padding-top: 20px;
  margin-right: 1.5em;
  margin-left: 1.5em;
  padding-bottom: 15px;
  background-color: #F6F7F9;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  text-align: center;
}

.spin__title {
  font-family: Museo, sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: #000;
}

.spin__title_bg {
  display: inline-block;
  padding: 10px 30px;
  background-color: #EA385E;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #fff;
}

.spin__title_sm {
  margin-top: 25px;

  font-size: 26px;
  line-height: 150%;
}

.spin__window {
    width: calc(100% - 3em);
    margin-top: 16px;
    position: absolute;
    left: 0;
    height: 200px;
    background-color: #fff;
    z-index: 500;
    margin-right: 1.5em;
    margin-left: 1.5em;
}

.spin__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

      background: linear-gradient( 90deg, #879af5 0%, #878af5 5%, #27578D 25%, #27578D 75%, #878af5 95%, #879af5 100%);
  z-index: 501;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.spin__lens {
  position: absolute;
  height: 40%;
  width: calc(var(--spin-el-width) * 0.95);
  background: #EA385E;
  border-radius: 7px;
  z-index: 502;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.spin__track {
  position: absolute;
  width: var(--spin-el-width);
  height: 100%;
  left: 50%;
  transform: translate(-50%,0);
  color: #fff;
  margin-left: calc(-1 * var(--spin-start-offset) * var(--spin-el-width));

  display: flex;
  align-items: center;
  z-index: 503;
}

.spin__el {
  text-align: center;
  width: var(--spin-el-width);
  flex-shrink: 0;
}

.spin__el-text {
  font-family: Museo, sans-serif;
  font-size: 56px;
  margin-bottom: 0;
}

.spin__track_anim {
  animation-name: spin;
  animation-duration: 7s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.22,.58,.29,1);
}

@keyframes spin {
  100% {
    margin-left: calc(-1 * calc( var(--spin-scroll-to) + var(--spin-start-offset) ) * var(--spin-el-width));
  }
}

.spin__pointer {
  width: 75px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,50%);
  padding: 10px 10px;
  background: #EA385E;
  border-radius: 7px;
  cursor: pointer;
  z-index: 510;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.spin__text {
  width: 64%;
  margin-top: 275px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px !important;

  font-family: Museo, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
}

.spin__label-wrap {
  display: flex;
  justify-content: center;
}

.spin__label-text {
  display: inline-block;
  padding: 5px 20px;

  font-family: Museo, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #000;

  background: #E1E7F1;

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.spin__attention {
  display: block;

  text-align: center;
}

.spin__text_underlined {
  text-decoration: underline;
  text-transform: uppercase;
  font-family: Museo, sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #EF3F44;
}



@media(max-width: 991px) {

  .spin__window {
    height: 150px;
  }

  :root {
    --spin-el-width: 175px;
  }

  .spin__el-text {
    font-size: 56px;
  }

  .spin__lens {
    width: calc(var(--spin-el-width) * 0.8);
    height: 50%;
  }

  .spin__text {
    margin-top: 200px;
  }

  .spin__pointer {
    width: 60px;
    padding: 7px 6px;
  }
}

@media(max-width: 767px){
  .spin__window {
    height: 125px;
  }

  :root {
    --spin-el-width: 150px;
  }

  .spin__el-text {
    font-size: 48px;
  }

  .spin__lens {
    width: calc(var(--spin-el-width) * 0.8);
    height: 55%;
  }

  .spin__pointer {
    padding: 8px 7px;
    transform: translate(-50%,65%);
  }

  .pointer__img {
    width: 35px;
  }

  .spin__text {
    width: 75%;
    margin-top: 175px;
  }

  .review__img-wrap {
    grid-template-columns: 1fr;
  }

  .review__img-wrap img{
    width: 60%;
  }
}

@media(max-width: 576px){
  .spin__title {
    font-size: 18px;
  }

  .spin__window {
    height: 100px;
  }

  :root {
    --spin-el-width: 100px;
  }

  .spin__el-text {
    font-size: 36px;
  }

  .spin__lens {
    width: calc(var(--spin-el-width) * 0.8);
    height: 55%;
  }

  .spin__pointer {
    width: 40px;
    padding: 5px 2px;
  }

  .pointer__img {
    width: 30px;

  }

  .spin__text {
    width: 90%;

    font-size: 18px;
    margin-top: 160px;
  }

  .spin__label-text {
    font-size: 20px;
  }

  .spin__text_underlined  {
    font-size: 20px;
  }

  .spin__pointer {
    padding: 7px 5px;
    transform: translate(-50%,65%);
  }

  .comments__text p {
    font-size: 14px;
  }
}

@media(max-width: 450px){
  .spin__window {
    height: 75px;
  }

  :root {
    --spin-el-width: 90px;
  }

  .spin__lens {
    width: calc(var(--spin-el-width) * 0.8);
    height: 55%;
  }

  .spin__pointer {
    padding: 4px 4px;
    transform: translate(-50%,70%);
  }

  .pointer__img {
    width: 27px !important;
  }

  .spin__text {
    margin-top: 125px;
  }
}

.spin__sale {
  text-shadow: 3px 0 4px #000000, 3px 0 4px #000000, 0 3px 4px #000000;
}


/* MODALS */

.modal__wrap {
  display: none;
  width: 100%;
}

.modal__black-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background-color: rgba(0,0,0,0.5);
}

.modal__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  max-width: 500px;
  text-align: center;
  background: #FFFFFF;
  z-index: 9999;
}

.form-modal__content {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding-top: 30px;
}

.modal__cross {
  width: 25px;
  position: absolute;
  right: -30px;
  top: -30px;
  cursor: pointer;
}

.ok__img {
  width: 65px;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,25%);
}

.modal__title {
  font-family: Museo, sans-serif;
  font-weight: 700;
font-size: 28px;
text-transform: uppercase;
  
  -webkit-background-clip: text;

  color: #EB3646;
}

.form-modal__title {
  margin-bottom: 25px;
}

.modal__text {
  font-family: Museo, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 121.5%;
  letter-spacing: 0.11em;
  color: #EB3646;
}

.form-modal__text {
  width: 75%;
  margin: 0 auto 15px auto;
}

.modal__btn {
      border: none;
    margin-bottom: 15px;
    padding: 10px 50px;
    font-family: Museo, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 121.5%;
    letter-spacing: 0.11em;
    background: #27578D;
    color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 3px;
}