.header__info {
  margin-top: 22px;
}

.header-info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-info__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 70px;
  height: 70px;
}

.header-info__logo img {
  width: 100%;
  height: 100%;
}

.header-info__info {
  margin-left: 9px;
}

.header-info__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.header-info__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.header-likes {
  margin-top: 22px;
}

.header-likes__wrapper {
  border-top: 1px solid #bcb6b6;
  border-bottom: 1px solid #bcb6b6;
  padding: 9px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-likes__wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-likes__wrapper li {
  margin-right: 8px;
}

.header-likes__item {
  padding: 4px 8px 4px 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d9d9d9;
  border-radius: 35px;
}

.header-likes__item span {
  display: inline-block;
  margin-left: 5px;
}

.header-likes__date span {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #606060;
}

h1 {
  margin-top: 30px;
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}

.mt-10 {
  margin-top: -10px;
}

.red-text {
  color: #f23635;
}

.violet-text {
  color: #a003ba;
}

.orange-text {
  color: #dd5407;
}

.gray-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #8e8b8b;
}

.mt12 {
  margin-top: 12px;
}

.red-bb {
  border-bottom: 1px solid #f80606;
}

.red-b {
  border: 1px solid #f80606;
}

.violet-link {
  color: #a003ba;
  font-weight: 700;
}

.text-underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.text-italic {
  font-style: italic;
}

.artcile__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.artcile__images a {
  display: block;
  height: inherit;
}

.article__imgs {
  display: block;
}

.main-massage-form {
  max-width: 351px;
  background: #fff;
  margin: 0 auto;
}

.main-massage-form__wrapper {
  border: 3px solid #580a95;
  padding: 14px 20px 16px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-massage-form__offer {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
}

.main-massage-form__timer {
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #ff0000;
}

.main-massage-form__images__prod {
  width: 160px;
}

.main-massage-form__images__prod img {
  width: 100%;
}

.form-images {
  position: relative;
  padding-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 349px) {
  .form-images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form-images__prod {
  padding-top: 13px;
  padding-bottom: 21px;
  width: 160px;
}

@media (max-width: 349px) {
  .form-images__prod {
    padding: 0;
  }
}

.form-images__prod-img {
  width: 100%;
}

.form-images__sale {
  position: absolute;
  top: 0;
  right: 0;
  width: 128px;
  height: 128px;
}

@media (max-width: 349px) {
  .form-images__sale {
    width: 100px;
    height: 100px;
  }
}

.form-images__sale-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-images__sale-image img {
  width: 100%;
  height: 100%;
}

.form-images__sale-image-text {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-images__sale-image-text p {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 349px) {
  .form-images__sale-image-text p {
    font-size: 14px;
  }
}

.form-images__sale-image-text--big {
  font-size: 25px !important;
}

@media (max-width: 349px) {
  .form-images__sale-image-text--big {
    font-size: 18px !important;
  }
}

.form-images-price {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fbff3a;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

@media (max-width: 349px) {
  .form-images-price {
    position: relative;
    top: -30px;
    left: -60px;
  }
}

.form-images-price__wrapper {
  padding: 13px 10px 8px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-images-price__last-price {
  position: relative;
  font-weight: 800;
  font-size: 15px;
  line-height: 100%;
  color: #000000;
}

.form-images-price__last-price:before {
  content: "";
  position: absolute;
  top: 43%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ec1313;
}

.form-images-price__new-price {
  font-weight: 800;
  font-size: 25px;
  line-height: 100%;
  color: #fa1313;
}

.form-images-price__amount {
  width: 100%;
  text-align: end;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.main-massage-form-price {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 349px) {
  .main-massage-form-price {
    margin-top: -20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-massage-form-price__left span {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ffa011;
}

@media (max-width: 349px) {
  .main-massage-form-price__left span {
    font-size: 16px;
  }
}

@media (max-width: 349px) {
  .main-massage-form-price__right {
    margin-top: 10px;
  }
}

.main-massage-form-price__right p {
  white-space: nowrap;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  text-align: right;
  color: #000000;
}

.main-massage-form-price__right--redText {
  color: #ff0707 !important;
  font-weight: 700 !important;
  font-size: 12px !important;
}

form select {
  width: 100%;
  margin-top: 10px;
  background: #f5f2f2;
  border: 1px solid #000;
  color: #000;
  display: block;
  visibility: visible;
  opacity: 1;
  font-size: 0.9rem;
  padding: 6px 7px;
}

form option {
  color: #000;
  display: block;
  visibility: visible;
  opacity: 1;
}

form .red-button {
  margin-top: 25px;
  width: 311px;
  height: 60px;
  border-radius: 30px;
  background: #f7630f;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  border: none;
}

@media (max-width: 400px) {
  form .red-button {
    font-size: 16px;
    width: 250px;
  }
}

.timer p {
  font-weight: 700;
  margin-top: 10px;
  font-size: 16px;
}

.timer span {
  font-weight: 700;
  line-height: 30px;
  font-size: 16px;
}

label {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

label span {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

input {
  width: 100%;
  margin-top: 10px;
  background: #f5f2f2;
  border: 1px solid #000000;
}

.comments__img--1 {
  width: 100%;
  max-width: 200px;
}

.comments__img--2 {
  width: 100%;
  max-width: 200px;
}

.comments__img--3 {
  width: 100%;
  max-width: 200px;
}

.comments__img--4 {
  width: 100%;
  max-width: 305px;
}

.comments__img--5 {
  width: 100%;
  max-width: 180px;
}

.coment-like {
  margin-left: 20px;
}

.comment-clip {
  margin-left: 24px;
  display: inline-block;
}

@media (max-width: 500px) {
  .comments__date--first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .comments__date--first .coment-like {
    margin-left: 0;
    margin-top: 5px;
  }
  .comments__date--first .comment-clip span {
    margin-right: 15px;
  }
}

@media (max-width: 500px) {
  .comments__date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.btn {
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(245, 242, 233, 0.7);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal {
  background-color: #fff;
  width: 400px;
  max-width: 100%;
  height: 369px;
  border: 6px solid #f58120;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.modal__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__wrapper h3 {
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  text-align: center;
  color: #eb0d0d;
}

.modal__wrapper p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #eb0d0d;
}

.modal__button {
  margin-top: 40px;
  width: 199px;
  height: 48px;
  background: #f7630f;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  border: none;
  color: #ffffff;
}

.modal__close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal__close-modal img {
  width: 25px;
  height: 25px;
}

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal--visible {
  display: block;
}
/*# sourceMappingURL=new-style.css.map */